.whole{
	background-color: rgba(200,200,220,30);

}
.redbar{
	display: block;
	background-color: #720808;
	height: 6vh;
	border: .5rem outset #ff1101

}
.bgimg {
	background-image:url("images/concert-style.jpg");
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	height: 100vh;
}
.bgimg h1{
	font-family: "Bauhaus 93",sans-serif;
}
.blockquote p{
	font-family: "Courier New",sans-serif;
	color: antiquewhite;
}
.blockquote cite{
	font-family: "Courier New",sans-serif;
	color: antiquewhite;
}
.bgimg2 {
	background-image: url("images/boxman2.png");
}

.about {
	width: 100vw;
	height: 88vh;
	border-top: .8rem outset #720808;
	background-image: url("images/lion-man.png");
	background-repeat: no-repeat;
}
.card{
	margin: 0;
	padding: 0;
}
.frac{
	background-image: url("images/irony.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.darkfont{
	color: antiquewhite;
}
#tbox{
	height:50%;
	overflow: auto;
	background-color: antiquewhite;}