.whole{
	background-color: rgba(200,200,220,30);

}
.redbar{
	display: flex;
	background-color: #720808;
	height: 6vh;
	border: .5rem outset #ff1101

}
.bgimg {
	background-image:url("images/concert-style.jpg");
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	height: 100vh;
}
.bgimg h1{
	font-family: "Bauhaus 93",sans-serif;
}

.bgimg2 {
	background-image: url("images/boxman2.png");
}

.about {
	width: 100vw;
	height: 88vh;
	border-top: .8rem outset #720808;
}
li {
	 list-style-image: url("images/arrow-pointing-to-right.svg");
}
.card{
	margin: 0;
	padding: 0;
}
.frac{
	background-image: url("images/irony.png");
	background-position: top right;
	background-repeat: no-repeat;
}
.darkfont{
	color: antiquewhite;
}
#tbox{
	height:50%;
	overflow: auto;
	background-color: antiquewhite;

}
$('.one-time').slick({
	dots: true,
	infinite: true,
	speed: 300,
	slidesToShow: 1,
	adaptiveHeight: true
});